<nz-layout class="layout"
  ><nz-header class="header">
    <div class="logo"><a routerLink="/">Drake21</a></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <a
        nz-menu-item
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        nz-menu-item
        routerLink="/search"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Search</a
      >
    </ul>
  </nz-header>
  <nz-content class="inner-content"><router-outlet /></nz-content>
  <nz-footer class="footer">
    <a href="https://github.com/ShadowDrake21" target="_blank">
      &copy; 2024 Dmytro (Dmitrii) Krapyvianskiy a.k.a Drake21 | All rights
      reserved
    </a></nz-footer
  >
</nz-layout>
