@let details = detailsSig();
<h1 class="location__title">
  {{ details.name }} {{ "(" + details.address_obj?.country + ")" }}
</h1>
<h3 *ngIf="details.category as category" class="location__subtitle">
  Category: {{ category.localized_name }} {{ category.name }}
</h3>
<p class="location__field">
  <strong>{{ details.description }}</strong>
</p>
<p class="location__field">
  <span class="location__field-span">Email:</span>
  {{ details.email || "unknown" }}
</p>
<div>
  <p class="location__field">
    <span class="location__field-span">Rating: </span>{{ details.rating }}
  </p>
  @if (details.amenities; as amenities) {
  <ul class="location__field location__field-list">
    <h3 class="location__field-list__title">Amenities:</h3>
    @for(amenity of amenities; track amenity) {
    <li class="location__field-list__item">{{ amenity }}</li>
    }
  </ul>
  } @if (details.ancestors; as ancestors) {
  <ul class="location__field location__field-list">
    <h3 class="location__field-list__title">Ancestors:</h3>
    @for(ancestor of ancestors; track ancestor) {
    <li class="location__field-list__item">
      <span
        >{{ ancestor.name }} {{ ancestor.abbrv && "(" + ancestor.abbrv + ")" }}
      </span>
      - {{ ancestor.name }}, {{ ancestor.level }} level
    </li>
    }
  </ul>
  } @if (details.awards; as awards) {
  <ul class="location__field location__field-list">
    <h3 class="location__field-list__title">Awards:</h3>
    @for(award of awards; track award) {
    <li class="location__field-list__item">
      <span class="type">
        {{ award.award_type }}
      </span>
      <h4 class="location__field-list__item title">
        {{ award.display_name }}
      </h4>
      <img
        class="location__field-list__item image"
        [src]="award.images.large"
        alt="award img"
      />
      {{ award.year }}
      <ul class="location__field-list__item--nested">
        @for(category of award.categories; track category) {
        <li class="location__field-list__item--nested-item">
          {{ category }}
        </li>
        }
      </ul>
    </li>
    }
  </ul>
  }
  <ul class="location__field location__field-list">
    <h3 class="location__field-list__title">Cuisines:</h3>
    @for (cuisine of details.cuisine; track cuisine) {
    <li class="location__field-list__item">{{ cuisine }}</li>
    }
  </ul>

  <ul class="location__field location__field-list">
    <h3 class="location__field-list__title">Features:</h3>
    @for (feature of details.features; track feature) {
    <li class="location__field-list__item">{{ feature }}</li>
    }
  </ul>

  <ul class="location__field location__field-list">
    <h3 class="location__field-list__title">Groups:</h3>
    @for (group of details.groups; track group) {
    <li class="location__field-list__item">
      <strong>{{ group.name }} {{ "(" + group.localized_name + ")" }}</strong>
    </li>
    <ul class="location__field-list__item--nested">
      @for (category of group.categories; track category) {
      <li class="location__field-list__item--nested-item">
        <i>{{ category.name }} {{ "(" + category.localized_name + ")" }}</i>
      </li>
      }
    </ul>
    }
  </ul>
  <ol class="location__field location__field-list" *ngIf="details.hours">
    <h3 class="location__field-list__title">Work schedule:</h3>
    @for (weekday_text of details.hours.weekday_text; track weekday_text) {
    <li class="location__field-list__item">{{ weekday_text }}</li>
    }
  </ol>
  <p class="location__field">
    <span class="location__field-span">Timezone:</span> {{ details.timezone }}
  </p>
  <ul class="location__field location__field-list">
    <h3 class="location__field-list__title">Coordinates:</h3>
    <li class="location__field-list__item">
      <span>Latitude:</span>
      {{ details.latitude }}
    </li>
    <li class="location__field-list__item">
      <span>Longitude:</span>
      {{ details.longitude }}
    </li>
  </ul>
  <ul class="location__field location__field-list">
    <h3 class="location__field-list__title">Neighborhood:</h3>
    @for (neighborhood of details.neighborhood_info; track neighborhood) {
    <li class="location__field-list__item">
      <span>{{ neighborhood.location_id }}</span> - {{ neighborhood.name }}
    </li>
    }
  </ul>
  <ul class="location__field location__field-list">
    <h3 class="location__field-list__title">Contacts:</h3>
    <li class="location__field-list__item">
      <span>Phone:</span>
      {{ details.phone }}
    </li>
    <li class="location__field-list__item">
      <span>Phone count:</span>
      {{ details.photo_count }}
    </li>
  </ul>
  <div>
    <p>
      <span class="location__field-span">Reviews:</span>
      {{ details.num_reviews }}
    </p>
    <ul class="location__field location__field-block">
      <h3>Ranking data:</h3>
      <li class="location__field-list__item">
        {{ details.ranking_data?.geo_location_id }}
      </li>
      <li class="location__field-list__item">
        {{ details.ranking_data?.geo_location_name }}
      </li>
      <li class="location__field-list__item">
        {{ details.ranking_data?.ranking }}
      </li>
      <li class="location__field-list__item">
        {{ details.ranking_data?.ranking_out_of }}
      </li>
      <li class="location__field-list__item">
        {{ details.ranking_data?.ranking_string }}
      </li>
    </ul>
    <img [src]="details.rating_image_url" alt="rating-image-url" />
    <ul class="location__field location__field-list">
      <h3 class="location__field-list__title">Review rating count:</h3>
      @for (pair of details.review_rating_count | keyvalue; track pair.key) {
      <li class="location__field-list__item">
        <span>{{ pair.key }}</span> -
        {{ pair.value }}
      </li>
      }
    </ul>
  </div>
  <a [href]="details.see_all_photos">See all photos</a>
  <ul
    class="location__field location__field-list"
    *ngIf="details.styles as styles"
  >
    <h3 class="location__field-list__title">Styles:</h3>
    @for (style of styles; track style) {
    <li class="location__field-list__item">{{ style }}</li>
    }
  </ul>
  <ul class="location__field location__field-list">
    <h3 class="location__field-list__title">Subcategory:</h3>
    @for ( subcategory of details.subcategory; track subcategory) {
    <li class="location__field-list__item">
      {{ subcategory.name }}
      {{ subcategory.localized_name && "(" + subcategory.localized_name + ")" }}
    </li>
    }
  </ul>

  <img
    class="location__field-image"
    *ngIf="details.subratings as subratings"
    [src]="subratings.additionalProp.rating_image_url"
    alt="rating image url"
  />

  <ul class="location__field location__field-list">
    <h3 class="location__field-list__title">Trip types:</h3>
    @for (trip_type of details.trip_types; track trip_type) {
    <li class="location__field-list__item">
      {{ trip_type.name }}
      {{ trip_type.localized_name && "(" + trip_type.localized_name + ")" }} -
      {{ trip_type.value }}
    </li>
    }
  </ul>

  <ul class="location__field location__field-list">
    <h3 class="location__field-list__title">Links:</h3>
    <li class="location__field-list__item">
      <a
        class="location__field-list__item-link"
        [href]="details.web_url"
        target="_blank"
        >Details</a
      >
    </li>
    <li class="location__field-list__item">
      <a
        class="location__field-list__item-link"
        [href]="details.website"
        target="_blank"
        >Website</a
      >
    </li>
    <li class="location__field-list__item">
      <a
        class="location__field-list__item-link"
        [href]="details.write_review"
        target="_blank"
        >Write a review</a
      >
    </li>
  </ul>
</div>
