@import "ng-zorro-antd/ng-zorro-antd.min.css"

*, *::after, *::before
  box-sizing: border-box

body
  padding: 0px
  margin: 0px

.container
  max-width: 1500px
  padding: 0 10px
  margin: 0 auto

// libraries styles modifications
.ant-input-number-handler-wrap
  height: 30px !important
